body {
    font-family: 'Montserrat', sans-serif;

}



/* navbar  */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
   
}

.navbar .navbar-nav .nav-link {
    color:#5d614c;
    font-weight: 600;
    font-size: 14px;
}

.navbar .navbar-toggler {
    border: 0;
}


/* containers */

.callout-container {

    height: 100vh;
    background: url("../images/callout\ image\ alt.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

    display: flex;
    align-items: center;
    justify-content: center;
}

.offer-container{

}

.treatments-container{

}

.pricing-container{

}

/* jumbotron */

.logo {
    
}

.jumbotron {
    background: transparent;
   
}


.jumbotron-header {
    color: #FFFFFF;
    font-size: 2.375rem;
    font-weight: bold;
    margin: 25px;
    letter-spacing: 6px;
}


.summary-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin:30px;

}


/* Logo */



/* our approach */



.our-approach {
    color: #7b8c39;
    font-size: .75rem;
    letter-spacing: 3px;
    font-weight: 600;
    
}

.offer-header {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    margin:30px;
    letter-spacing: 3px;
}

.approach {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 3px;
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
   
    

}

    

/* Treatments  */

.treatment-title {

    color: #7b8c39;
    font-size: .75rem;
    letter-spacing: 3px;
    font-weight: 600;


}

.img-thumbnail  {

    margin-bottom: 40px;
}


.treatment-headings {

    font-weight: bold;
    color:black;
}

.treatment .btn {

  
        background-color:#7b8c39 ;
         border-radius: 0px;
        min-width: 100px;
        font-weight: 400;
        margin-top: 10px;
        color: #ffffff;


}
    

 /* Pricing */


.pricing-text {
color: #7b8c39;
font-size: .75rem;
letter-spacing: 3px;
font-weight: 600;

}

.price {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    
    

}

.price-detail {
    color:black;
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 3px;
    max-width: 400px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 20px;
   
}


/*Footer*/

.page-footer {
    background-color:#101820;}

    .footer-title {

        color: white;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 6px;
        margin-top: 30px;
        margin-bottom: 100px;

    }

    .footer-heading {
        color: #d2c295;
        font-size: .75rem;
        font-weight: bold;
        margin-top: 30px;


    }

    .useful-list a, 
    .social-list a {
        color: white;
        font-size: 12px;
        letter-spacing: 2px;
    }
    
    .footer-bottom {
    background-color:white;}

    /* Bottom Footer */

    .footer-bottom-text {
        color: black;
        font-size: 12px;
        letter-spacing: 2px;
        font-weight: bold;

    }

/* Buttons */


.btn--orange {
    color: #FFFFFF;
    background-color: #7b8c39;
    border-radius: 0;
        font-weight:600;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 240px;
    
}

.btn:hover {
    color: white;
    background-color: #57661e;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

