body {
    font-family: 'Montserrat', sans-serif;

}



/* navbar  */

.navalert-container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-left: 0;
    padding-right: 0;
}


.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
   
}

.navbar .navbar-nav .nav-link {
    color:#5d614c;
    font-weight: 600;
    font-size: 14px;
}

.navbar .navbar-toggler {
    border: 0;
}


/* containers */

.callout-container {

    height: 100vh;
    background: url("../images/callout\ image\ alt.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}


.content-container {
    margin-top: 30px;
   
}

.test-container {
    
    margin-bottom: 60px;
}



/*bg overlay */

.bg-overlay {
    background: linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.5)),url("../images/callout\ image\ alt.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
}

/* jumbotron */



.jumbotron {
    background: transparent;
   
}


.jumbotron-header {
    color: #FFFFFF;
    font-size: 2.375rem;
    font-weight: bold;
    margin: 25px;
    letter-spacing: 6px;
}


.summary-text {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    font-weight: 400;
    letter-spacing: 3px;
    margin:30px;

}






/* our approach */



.our-approach {
    color: #7b8c39;
    font-size: .75rem;
    letter-spacing: 3px;
    font-weight: 600;
    
}

.offer-header {
    color: black;
    font-size: 2.375rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.approach {
    color:black;
    font-family: 'montserrat', sans-serif;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 3px;
    max-width: 600px;
    text-align: justify;
    margin: 0 auto;
   
    

}

    

/* Treatments  */

.treatment-title {

    color: #7b8c39;
    font-size: .75rem;
    letter-spacing: 3px;
    font-weight: 600;


}




.treatment-headings {

    font-weight: bold;
    color:black;
    margin-top: 30px;
}

.treatment .btn {

  
        background-color:#7b8c39 ;
         border-radius: 0px;
        min-width: 100px;
        font-weight: 400;
        margin-top: 10px;
        color: #ffffff;


}
    

 /* Pricing */


.pricing-text {
color: #7b8c39;
font-size: .75rem;
letter-spacing: 3px;
font-weight: 600;

}

.price {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    
    

}

.price-detail {
    color:black;
    font-family: 'montserrat', sans-serif;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 3px;
    max-width: 400px;
    text-align: justify;
    margin: 0 auto;
    margin-top: 20px;
   
}

/*About us */
        
.aboutus-info{
    padding-left: 0px;
}

.aboutus-header {

    color: black;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;  
    
} 


.aboutus-text {
    color:black;
    font-family: 'montserrat', sans-serif;
    font-size:16px;
    font-weight: 400;
    letter-spacing: 3px;
    max-width: 1000px;
   text-align: justify;
   margin: 0 auto;
  
    
}

.aboutus-container {

   height: 65vh;
    background: url("../images/about\ us\ image3.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.img-row {
	max-width: 100%;
}
.image-section {
	position: relative;
}
    


/*Contact*/

.contactus-container {

    height: 65vh;
     background: url("../images/china\ image.jpg") no-repeat center center fixed; 
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 
     display: flex;
     align-items: center;
     justify-content: center;
 }
 

.contact-heading {
    font-weight: bold;
    color:black;
    letter-spacing: 4px;
    margin-top: 25px;
    margin-bottom: 20px;
}




.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 50%;
}

button[type="submit"] {
    margin-top: 25px;
    margin-bottom: 20px;
    
   
}




/*Footer*/

.page-footer {
    background-color:#101820;}

    .footer-title {

        color: white;
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 6px;
        margin-top: 30px;
        margin-bottom: 100px;

    }

    .footer-heading {
        color: #d2c295;
        font-size: .75rem;
        font-weight: bold;
        margin-top: 30px;


    }

    .useful-list a, 
    .social-list a {
        color: white;
        font-size: 12px;
        letter-spacing: 2px;
    }
    

     /* Bottom Footer */

    .footer-bottom {
    background-color:white;
    
}

.footer-info {
    margin-top: 30px;
}
   

    .footer-bottom-text {
        color: black;
        font-size: 12px;
        letter-spacing: 2px;
        margin: 0;
   


    }

    .footer-logo{
       margin: 0;
       padding-top: 20px;
        
    }

    .legal-list a {
        color: black;
        font-size: 12px;
        letter-spacing: 2px;

    }

/* Buttons */


.btn--orange {
    color: #FFFFFF;
    background-color: #7b8c39;
    border-radius: 0;
        font-weight:600;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        width: 240px;
    
}

.btn:hover {
    color: white;
    background-color: #57661e;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Block Dividers */

.block-divider {
    width: 48px;
    height:8px;
    background-color: #57661e;
    margin-top: 50px;
    margin-bottom: 50px;
 
    
}

.row {
    margin:0;

}